{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-param-reassign": ["warn"],
    "block-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "no-unused-expressions": ["error", {"allowTernary": true}]
  }
}
