$breakpoints: (
  xxs: 320px,
  xs: 460px,
  s: 560px,
  sm: 650px,
  m: 768px,
  ml: 900px,
  l: 1024px,
  xl: 1280px,
  xxl: 1920px,
);

@function breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@function bp($name) {
  @return breakpoint($name);
}
