-
  const projectName = 'boilerplate-parcel';

  const lang = 'en';

  const meta = [
    {
      charset: 'UTF-8',
    },
    {
      name: 'viewport',
      content: 'width=device-width, initial-scale=1.0',
    },
    {
      'http-equiv': 'X-UA-Compatible',
      content: 'IE=edge',
    },
    {
      name: 'theme-color',
      content: '#0e2a55',
    },
    {
      name: 'description',
      content: '',
    },
    {
      property: 'og:title',
      content: '',
    },
    {
      property: 'og:type',
      content: 'website',
    },
    {
      property: 'og:url',
      content: '#',
    },
    {
      property: 'og:description',
      content: '',
    },
    {
      property: 'og:image',
      content: '#',
    },
  ];

  const links = [
    {
      rel: 'icon',
      href: '../../res/favicon/favicon.svg',
    },
    {
      rel: 'apple-touch-icon',
      href: '../../res/favicon/apple-touch-icon.png',
    },
    {
      rel: 'stylesheet',
      href: '../../scss/main.scss',
    },
  ];

  const scripts = [
    {
      src: '../../js/main.js',
      defer: true,
      type: 'module',
    },
  ];
