-
  const projectName = 'boilerplate-parcel';

  const lang = 'en';

  const meta = [
    {
      charset: 'UTF-8',
    },
    {
      name: 'viewport',
      content: 'width=device-width, initial-scale=1.0',
    },
    {
      'http-equiv': 'X-UA-Compatible',
      content: 'IE=edge',
    },
    {
      name: 'theme-color',
      content: '#0e2a55',
    },
    {
      name: 'description',
      content: '',
    },
    {
      property: 'og:title',
      content: '',
    },
    {
      property: 'og:type',
      content: 'website',
    },
    {
      property: 'og:url',
      content: 'https://',
    },
    {
      property: 'og:description',
      content: '',
    },
    {
      property: 'og:image',
      content: 'https://',
    },
  ];

  const links = [
    {
      rel: 'stylesheet',
      href: '../../scss/main.scss',
    },
    //- {
    //-   rel: 'icon',
    //-   href: 'favicon/favicon.svg',
    //- },
    //- {
    //-   rel: 'apple-touch-icon',
    //-   href: 'favicon/favicon-196x196.png',
    //- },
    //- {
    //-   rel: 'icon',
    //-   type: 'image/png',
    //-   href: 'favicon/favicon-512x512.png',
    //-   sizes: '512x512',
    //- },
  ];

  const scripts = [
    {
      src: '../../js/main.js',
      defer: true,
    },
  ];
