@use './layout' as *;

$min: 320px;
$min-small: 460px;
$small: 560px;
$small-medium: 650px;
$medium: 768px;
$medium-large: 900px;
$large: 1024px;
$large-max: 1280px;
$content: $content-width;
$max: 1920px;
